.navbarContainer {
  max-width: 100vw;
  height: 80px;
  padding: 16px 64px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #383838;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  -webkit-animation: slide-in-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.logoAndText {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  -webkit-animation: slide-in-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.logoContainer {
  height: 80px;
  width: 80px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #00999b;
  border: 5px solid #fbfafa;
  cursor: pointer;
  transition: background-color ease-in-out 0.4s;
  transition: border ease-in-out 0.3s;
  filter: drop-shadow(0 4px 3px #454545) drop-shadow(0 2px 2px #111111);
}

.logoContainer:hover {
  background-color: white;
  border: 5px solid #00999b;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.logo {
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.powerPhrase {
  font-family: Bebas Neue, sans-serif;
  font-size: 35px;
  color: #f7d881;
  font-weight: 600;
  letter-spacing: 1px;
}
.spanText {
  color: #ff9082;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  -webkit-animation: slide-in-right 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.link {
  font-size: 20px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.4px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

.link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 50px;
  background: #e47c6e;
  transition: width 0.3s;
}

.link:hover::before {
  width: 100% !important;
}
.link:hover {
  color: #f7d881;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
